ProiectSoro/.idea/misc.xml
ProiectSoro/.idea/modules.xml
ProiectSoro/.idea/project-template.xml
ProiectSoro/.idea/workspace.xml
ProiectSoro/.idea/encodings.xml
ProiectSoro/out/
ProiectSoro/ProiectSoro.iml
ProiectSoro/.idea/description.html
ProiectSoro/.idea/
